/* Main HTML page*/
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    color: #111f22;
    font-family: Arial, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
}

#wrapper {
    background-color: white;
    padding: 0;
}

.header {
    color: #111f22;
    background-color: rgb(111, 141, 167);
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align:center;
    color: rgb(0, 0, 0)

}

.header-ul {
    list-style: none;
    display: flex;
    padding:0;
    margin: 0;
    align-items: center;
}

.header-ul li {
    margin-right: 10px;
}

.header-ul li a:hover {
    color: white;
    /*box-shadow: inset 120px 0 0 0 gray;*/
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

li {
    margin: 0 10px;
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
}

.btn-login-pop {
    height: 60px;
    width: 90px;
    padding: 0 10px;
    background: white;
    border: 2px solid white;
    border-radius: 50%;
    font-size: large;
    cursor: pointer;
    outline: none;
}

<<<<<<< HEAD
.btn-login-pop a:hover {
    background: rgb(111, 141, 167);
    color: white;
}
=======
/*.btn-login-pop a:hover {*/
/*    background: rgb(111, 141, 167);*/
/*    color: white;*/
/*}*/
>>>>>>> 74038efdde88b871abbc385c26cbf9803103032a

h3 {
    text-align: center;
}

h4 {
    margin-left: 10px;
}

.logout-link {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: #333;
    text-align: right;
}

.logout-link a:hover {
    color: red;
}

.text {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

img {
    padding: 20px;
}

.recipe-img {
    height: auto;
    width: 600px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

.homepic {
    height: auto;
    width: 800px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

.thumbs {
    display: flex;
    height: 400px;
    width: 400px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: none; /* Initially hidden */
    position: fixed; /* Positioning for centering */
    align-content: start ;
    top: 50%;
    left: 50%;
    margin: 10px;
    padding: 15px;
    border: 2px solid #111f22;
    height: 400px;
    width: 350px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #888;
    cursor: pointer;
}

.show {
    display: block;
}

.input-wrapper {
    display: flex;
    align-items: flex-start;
}

.icon {
    margin-right: 10px;
    align-self: flex-start;
}

.icon ion-icon {
    font-size: 20px;
}

label {
    display: block;
    padding-left: 5px;
}

input {
    display: block;
    width: 200px;
    margin-bottom: 12px;
}

.reg-form {
    text-decoration: underline;
    color: blueviolet;
}

.error-message {
    color: red;
    font-size: smaller;
}

footer {
    background-color: rgb(111, 141, 167);
    font-size: .60em;
    text-align: center;
    font-style: italic;
    padding: 1em;
    margin-top: auto;
}

/* Recipe pages */
ul,
ol {
    list-style-position: inside;
    text-align:left;
}

.shape {
    border: 3px solid #7d7d87;
    width: 100%;
    max-width: 600px;
    padding: o 1em;
    margin :0 auto;
}

.rating-container {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}
.star {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
}
.star:hover,
.star.active {
    background-color: gold;
}
